@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
    --border: #eaeaea;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --border: #333333;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  code, pre {
    @apply font-mono;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-zinc-900 dark:text-zinc-50;
  }
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
